// .navigation {
//   position: fixed;
//   top: 0;
//   left: 0;
//   box-sizing: border-box;
//   width: 250px;
//   height: 100%;
//   padding-top: 40px;
//   padding-left: 15px;
//   padding-bottom: 2em;
//   margin-top:1em;
//   overflow-x: scroll;
//   box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset;
//   border-right: 1px solid rgba(0, 0, 0, 0.1);
// }
//
// .navigation ul {
//   padding: 0;
// }
//
// .navigation li {
//   list-style: none;
//   margin: 4px 0;
//   white-space: nowrap;
// }
//
// .navigation .nav-dir-path {
//   margin-top: 0.7em;
//   margin-bottom: 0.25em;
//   font-size: 0.8em;
//   color: #aaa;
// }

.kind-class,
.kind-interface,
.kind-function,
.kind-typedef,
.kind-variable,
.kind-external {
  //margin-left: 0.75em;
  display: inline-block;
  padding: .25rem;
  text-align: center;
  vertical-align: baseline;
  border-radius: $radius-small;
  margin-right: 0.25rem;
  font-weight: bold;
  font-size: 9px !important;
  line-height: 1;
}

.kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}



/* search box */
.search-box {
  // position: absolute;
  // top: 100px;
  // right: 50px;
  // padding-right: 8px;
  // padding-bottom: 10px;
  // line-height: normal;
  //font-size: 12px;
}

.search-box img {
  width: 20px;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 2px;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 1px #0af;
  border-style: none none solid none;
  vertical-align: bottom;
}

.search-input-edge {
  display: none;
  width: 1px;
  height: 5px;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 600px;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  background: white;
  box-shadow: 1px 1px 4px rgb(0,0,0);
  white-space: nowrap;
  overflow-y: scroll;
}

.search-result-import-path {
  color: #aaa;
  // font-size: 12px;
}

.search-result li {
  list-style: none;
  padding: 2px 4px;
}

.search-result li a {
  display: block;
}

.search-result li.selected {
  background: #ddd;
}

.search-result li.search-separator {
  background: rgb(37, 138, 175);
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  width: 300px;
}

.search-box.active .search-input-edge {
  display: inline-block;
}

@include tablet-and-above {
  .api > .row > header {
    width: 100%;
    margin-left: 05.3030303%;
  }

  .api .search-box {
    display: inline-block;
  }

  .api .navigation {
    width: 19.6969697%;
    margin-bottom: 3.5rem !important;
    margin-left: 05.3030303%;
    padding-top: 4.3125rem;
  }

  .api .navigation li {
    max-width: 100%;
    margin: .125rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: list-item;
    font-size: .8125rem;
    line-height: 1.23125rem;
  }

  .api .content {
    width: 69.6969697%;
    margin-bottom: 3.5rem !important;
    margin-left: 05.3030303%;
  }

  .api footer,
  .api .page-contribute {
    width: 69.6969697%;
    margin-left: 30.3030297%;
  }

  .api .page-contribute {
    margin-bottom: 3.5rem !important;
  }
}
