.navigation {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 2em;
  margin-top:1em;
  overflow-x: scroll;
  box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
}

.navigation .nav-dir-path {
  margin-top: 0.7em;
  margin-bottom: 0.25em;
  font-size: 0.8em;
  color: #aaa;
}

.kind-class,
.kind-interface,
.kind-function,
.kind-typedef,
.kind-variable,
.kind-external {
  margin-left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-weight: bold;
}

.kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}
